:root {
  --bg: #fdfcf6;
  --card: #ffffff;
  --accent: #15161d;     
  --highlight: #FFA800;    /* Yellow accent */
  --muted: #6c757d;
  --maxw: 1100px;
  --hovering: #FF6B00;

}



body {
  font-family: 'Segoe UI', sans-serif;
  background: #f7f8fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: var(--accent);
  color: white;
  padding: 15px;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: center;
  background: var(--accent);
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li:hover,
nav ul li.active {
  color: #ffd700;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.tab-content {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.tab-content.active {
  display: block;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  background: var(--highlight);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--hovering);
}

.order-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  background: #fdfdfd;
}

@media only screen and (max-width: 991px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 15px 25px;
     flex-wrap: wrap;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.back-link {
  color: #e4effc;
  text-decoration: none;
  font-weight: bold;
}

.back-link {
  color: #eff7ff;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}

h1{
  color: white;
